@model SmilyAccountant.Areas.Finance.Models.BudgetDetails

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Budget Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GLAccountCard.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GLAccountCard.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetedAmount)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBudgetedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBudgetedAmount)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Budget">Back to List</a>
</div>
