@model SmilyAccountant.Areas.Finance.Models.BankDeposit

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Bank Deposit Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.BankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.BankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
