@model GLAccountCard

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>GL Account Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountSubCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountSubCategory.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
