@model IEnumerable<SmilyAccountant.Areas.Finance.Models.FixedAssetCard>

@{
    ViewData["Title"] = "Index";
}

<h4>Fixed Asset Cards</h4>

<p>
    <a asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAClassCode.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FASubClassCode.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepreciationStartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDepreciataionYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepreciationEndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookValue)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceVendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnderMaintenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insured)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAClassCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FASubClassCode.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepreciationStartingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfDepreciataionYears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepreciationEndingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookValue)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MaintenanceVendor.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.UnderMaintenance)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.NextServiceDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.WarrantyDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Insured)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.FixedAssetCardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FixedAssetCardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FixedAssetCardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
